.appContainer {
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.mainLayout {
  width: 80% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mainContent {
  box-sizing: border-box;
  width: 100%;
  padding: 1.2rem 1.6rem;
  height: 100vh;
  background-color: #FBFBFB;

}

.test {}